In [2]:
import pandas as pd

In [14]:
age = pd.read_csv('prediction.csv')
gender = pd.read_csv('gender_predict25000.csv')

age['is_male'] = gender['is_male']
age['age'] += 1

display(age)

        user_id  age   is_male
0             6    3  0.210773
1             7    2  0.901676
2             9    2  0.070178
3            10    3  0.015263
4            11    5  0.940708
...         ...  ...       ...
144719   415306    2  0.690560
144720   415310    3  0.617529
144721   415314    2  0.492370
144722   415315    3  0.411781
144723   415316    3  0.604845

[144724 rows x 3 columns]

In [15]:
age.to_csv('age_male.csv', index=False)