In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
df = dd.read_parquet('..\\full_data\\figma_plan\\full_gender_data.parquet').compute()

display(df.head())
display(df.info())

,user_id,region_name_0,region_name_1,region_name_2,region_name_3,region_name_4,region_name_5,region_name_6,region_count,city_name_0,...,127.0.0.1,bukvaprava.ru,belnovosti-by.turbopages.org,ngs24-ru.turbopages.org,forum.mfd.ru,yomed.ru,7info.ru,other_url,other_female_urls_frac,other_male_urls_frac
0,0,0,0,0,0,0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.031088,0.005181,0.000000
1,1,0,0,0,0,0,0,1,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013372,0.001910,0.000955
2,2,0,0,0,0,0,1,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002433,0.000000,0.000000
3,3,0,0,0,0,0,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010909,0.003636,0.003636
4,4,0,0,0,0,1,0,0,5,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.011583,0.003861,0.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415317 entries, 0 to 415316
Columns: 3037 entries, user_id to other_male_urls_frac
dtypes: category(26), float32(3008), int32(1), int8(2)
memory usage: 4.7 GB

None

In [4]:
nan_urls_frac = df.isna().sum()[df.isna().sum() > 0]
display(nan_urls_frac.head())

price    10754
dtype: int64

In [17]:
df.loc[df.price.isna(),['cpe_manufacturer_name_0',
                        'cpe_manufacturer_name_1',
                        'cpe_manufacturer_name_2',
                        'cpe_manufacturer_name_3',
                        'cpe_manufacturer_name_4',
                        'cpe_manufacturer_name_5']]

df.loc[(df['cpe_manufacturer_name_0'] == 0) &
       (df['cpe_manufacturer_name_1'] == 0) &
       (df['cpe_manufacturer_name_2'] == 0) &
       (df['cpe_manufacturer_name_3'] == 0) &
       (df['cpe_manufacturer_name_4'] == 1) &
       (df['cpe_manufacturer_name_5'] == 0), 'price'].dropna().median()

,cpe_manufacturer_name_0,cpe_manufacturer_name_1,cpe_manufacturer_name_2,cpe_manufacturer_name_3,cpe_manufacturer_name_4,cpe_manufacturer_name_5
1,0,0,0,0,1,0
13,0,0,0,1,1,0
93,0,0,0,0,0,1
98,0,0,0,1,1,1
160,0,0,0,0,1,0
...,...,...,...,...,...,...
415109,0,1,0,1,0,0
415112,0,0,0,0,1,0
415211,0,0,1,1,0,1
415214,0,0,0,0,1,0
415233,0,0,1,0,0,1